<body>
  <section class="all">
    <header class="block-content">
      <h1> <b> Agendamento </b></h1>
      <h2>Dias da Semana</h2>
      <p class="subtitle">Informe os dias da semana em que os áudios serão executados.</p>
    </header>
    <main class="days row ">
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Domingo</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Segunda</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Terça</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Quarta</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Quinta</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Sexta</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
      <li class="col-md-2 col-sm-12">
        <h2 class="date">Sábado</h2>
        <h3 class="slidertext">
          <mat-slide-toggle>Desabilitado</mat-slide-toggle>
        </h3>
      </li>
    </main>
  </section>
</body>
